h1 {
  font-weight: 500;
  text-align: center;
  font-size: 50px;
  font-family: "Helvetica Neue";
  color: var(--ic-brand-font-color-dark);
  color : #f6fbfb;
}
h2 {
  text-align: center;
  color: var(--ic-brand-font-color-dark);
  text-decoration: underline;
  color: #f6fbfb;
}
.para {
  text-align: center;
  color: var(--ic-brand-font-color-dark);
  color: #f6fbfb;
  font-family: sans-serif;
}
